/.settings
/.buildpath
/.project
/backup_pro/includes/mithra62
/backup_pro/includes/vendor
/backups
/backup_pro/backups/files
/backup_pro/backups/progress.data
/backup_pro/backups/database
/backup_pro/admin/js/jquery.ddslick.min.js
/backup_pro/admin/js/settings.js
/backup_pro/admin/js/craft
/backup_pro/admin/js/eecms
/backup_pro/admin/js/backup.js
/backup_pro/admin/js/chosen.jquery.js
/backup_pro/admin/js/dashboard.js
/backup_pro/admin/js/global.js
/backup_pro/admin/css
/backup_pro/admin/images
/backup_pro/admin/js/wp
/wp-content/plugins/backup_pro/admin/js
/wp-content/plugins/backup_pro/admin/css
/wp-content/plugins/backup_pro/admin/images
/wp-content/plugins/backup_pro/includes/vendor
/wp-content/plugins/backup_pro/includes/mithra62
